In [17]:
#1 Use for, .split () and if to create an operator that will print words starting with 't':

st = 'Print only the words that start with t in this sentence'
x = st.split()
for i in x:
    if i[0].lower()=="t":
        print(i, end=" ")

the that t this

In [16]:
#2 Use Range () to print all even numbers from 0 to 10. (Do not use operators for, While, if)

a=range(0,11,2)
for i in a:
    print(i, end=" ")

0 2 4 6 8 10

In [24]:
#3 Complete ** List ** of all numbers from 1 to 50, which are divided into 3. (namely the list)

num=list()
for i in range(1,50):
    if i%3==0:
        num.append(i)
print(num)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [22]:
#4 View the line below and, if the length of the word is even, bring “even!”

st = 'Print every word in this sentence that has an even number of letters'
a=len(st)
if a%2==0:
    print("even!")

even!

In [29]:
#5 Create a list of the first letters of each word in a line below:

st = 'Create a list of the first letters of every word in this string'
x=st.split()
a=[]
for i in x:
    a.append(i[0])
print(a)

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [31]:
#6 Find the amount of numbers in the list below: (with two ways)
#1)
l = [1,2,3,4,5,6,7,8,9,10]
print(sum(l))

#2)
l = [1,2,3,4,5,6,7,8,9,10]
n=0
for i in l:
    n+=i
print(n)

55
55

In [33]:
#7 Write the program on Python to multiply all the elements in the list.

l = [2,5,7,3,9]
n=1
for i in l:
    n*=i
print(n)

1890

In [34]:
#8 Write the program on Python to get the largest number from the list.
l = [2,5,7,3,9,11,50,101]
print(max(l))

101

In [36]:
#9 Write the program on Python to find common elements from two lists.

team_1 = ["Darkhan", "Abilay", "Azamat", "Zhasulan"]
team_2 = ["Azamat", "Darkhan", "Aset", "Bolat","Saken"]
res=[]
for i in team_1:
    for j in team_2:
        if i==j:
            res.append(i)
print(res)

['Darkhan', 'Azamat']

In [37]:
#10 Write the program on Python to expand the list without .Append ().
l_1 = [10,20,30]
l_2 = [1,2,3,4,5,6]
print(l_1+l_2)

[10, 20, 30, 1, 2, 3, 4, 5, 6]

In [40]:
#11 Write the program on Python to summarize all the elements in the dictionary.
my_dict = {'data1':100,'data2':-54,'data3':247}
print(my_dict['data1']+my_dict['data2']+my_dict['data3'])

293

In [42]:
#12 Write the program on Python to get the maximum and minimum value in the dictionary.
my_dict = {'data1':100,'data2':-54,'data3':247}
n=[]
n.append(my_dict['data1'])
n.append(my_dict['data2'])
n.append(my_dict['data3'])
print(max(n))
print(min(n))

247
-54

In [ ]:
#13 Write the program on Python to find those numbers that are divided by 7 and are multiple 5, between 1500 and 2700 (both are included).
for i in range(1500,2701):
    if(i%7==0)and(i%5==0):
        print(i)

In [43]:
#14 Write the program on Python to count the number of even and odd numbers from a series of numbers.
numbers = (10,11,12,13,14,15,16,17,18,19,20)
even=0
odd=0
for i in numbers:
    if i%2==0:
        even+=1
    else:
        odd+=1
print("even: ",even)
print("odd: ",odd)

even:  6
odd:  5

In [50]:
#15 Write the program on Python to get a series of Fibonacci from 0 to 50.
x=0
y=1
print(x)
while y<50:
    print(x)
    print(y)
    x=y
    y=x+y

0
0
1
1
2
2
4
4
8
8
16
16
32

In [1]:
#16 Write the program on Python for calculating the age of the dog by dog ​​years. (For a given number 12, the conclusion should be 61 = 2x10.5+10x4)
a=int(input())
y=a-2
print(2*10.5+y*4)

61.0

In [5]:
#17 Write the program on Python to convert the name of the month into the number of days.
def days_in_month(month):
    month_days = {
        "қаңтар": 31, "ақпан": 28, "наурыз": 31, "сәуір": 30,
        "мамаыр": 31, "маусым": 30, "шілде": 31, "тамыз": 31,
        "қыркүйек": 30, "қазан": 31, "қараша": 30, "желтоқсан": 31
    }
    return month_days.get(month.lower(), "Қате ай атауы!")

# Мысал
month = input("Ай атауын енгізіңіз: ")
print(f"{month} айында {days_in_month(month)} күн.")

ақпан айында 28 күн бар.

In [1]:
#18 Check whether the word is a palindrome or not.
def is_palindrome(word):
    word = word.lower() 
    return word == word[::-1]

word = input()
if is_palindrome(word):
    print("this word is a palindrome")
else:
    print("this word is not a palindrome")

In [1]:
students = [1, 11, 13, 6, 14, 10, 23, 25, 16, 23, 30, 9]
ev=0
od=0
for el in students:
    if el%2==0:
        ev+=el
    else:
        od+=el
x=ev-od
print(x)

-29

In [2]:
for i in range(100,401):
    if i%2==0:
     print(i ,end=", ")

100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400,