In [1]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'cherry', 'apple'}

In [2]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'cherry', 'banana', 'apple'}

In [3]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [4]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [6]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print(set1)
print(set2)
print(set3)

{'banana', 'cherry', 'apple'}
{1, 3, 5, 7, 9}
{False, True}

In [7]:
thisset = set(("apple", "banana", "cherry")) #vmesto {}, (())
print(thisset)

{'banana', 'cherry', 'apple'}

In [8]:
thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

False

In [9]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [10]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

In [11]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'cherry', 'apple', 'orange', 'banana', 'kiwi'}

In [12]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'cherry', 'apple', 'orange', 'banana', 'kiwi'}

In [13]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [14]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

In [15]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'b', 'a'}

In [16]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'bananas', 'cherry', 'apple', 'Elena', 'John', 'c', 'b', 'a'}

In [17]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'cherry', 'google', 'banana', 'microsoft'}