In [1]:
t = ("apple", "banana", "cherry")
print(len(t))

3

In [2]:
t = ("apple", "banana", "cherry", "apple", "cherry")
print(t)
print(len(t))

('apple', 'banana', 'cherry', 'apple', 'cherry')
5

In [3]:
a = ("apple",)
print(type(a))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [4]:
x = ("apple", "banana", "cherry")
y = (1, 5, 7, 9, 3)
z = (True, False, False)
print(x)
print(y)
print(z)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)

In [5]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])
print(thistuple[-1])
print(thistuple[2:5])
print(thistuple[:4])
print(thistuple[-4:-1])
if "apple" in thistuple:
    print("Yes, 'apple' is in the fruits tuple")
#The first item has index 0.

banana
cherry
('cherry',)
('apple', 'banana', 'cherry')
('apple', 'banana')
Yes, 'apple' is in the fruits tuple

In [6]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
y.append("orange")
y.remove("apple")
x = tuple(y)

print(x)

('kiwi', 'cherry', 'orange')

In [7]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [8]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [9]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [10]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [11]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

In [12]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')